@model IEnumerable<Proyecto_Tienda.Entities.Producto>

@{
    ViewData["Title"] = "Listado de productos";
}

<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Listado de productos</li>
    </ol>
</nav>

<h3 class="mb-3">Listado de productos</h3>

<button class="btn btn-success mb-3">
    <a style="text-decoration: none; color: white;" asp-action="Create">Crear Producto</a>
</button>



<table class="table table-hover table-bordered text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Descripción
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                Fecha Creación
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                    <a style="text-decoration: none;" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a style="text-decoration: none;" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a style="text-decoration: none;" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
